<p id="notice"><%= notice %></p>

<h1>Factores Fluctuantes</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Peso carga</th>
      <th>Volumen carga</th>
      <th>Condiciones viales</th>
        <th>Condiciones ambientales</th>
        <th>Condiciones geograficas</th>
        <th>Tipos carga</th>
        <th>Estibado carga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factores_fluctuantes.each do |factores_fluctuante| %>
      <tr>
        <td><%= factores_fluctuante.peso_carga %></td>
         <td><%= factores_fluctuante.volumen_carga %></td>
         <td><%= factores_fluctuante.condiciones_viales %></td>
          <td><%= factores_fluctuante.condiciones_ambientales %></td>
          <td><%= factores_fluctuante.condiciones_geograficas %></td>
          <td><%= factores_fluctuante.tipo_carga %></td>
          <td><%= factores_fluctuante.estibado_carga %></td>
        <td><%= link_to 'Ver', factores_fluctuante %></td>
        <td><%= link_to 'Editar', edit_factores_fluctuante_path(factores_fluctuante) %></td>
        <td><%= link_to 'Borrar', factores_fluctuante, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factores Fluctuante', new_factores_fluctuante_path %>
