<p id="notice"><%= notice %></p>

<p>
  <strong>Peso carga:</strong>
  <%= @factores_fluctuante.peso_carga %>
</p>
<p>
  <strong>Volumen  carga:</strong>
  <%= @factores_fluctuante.volumen_carga %>
</p>
<p>
  <strong>Condiciones  viales:</strong>
  <%= @factores_fluctuante.condiciones_viales %>
</p>
<p>
  <strong>Condiciones  ambientales:</strong>
  <%= @factores_fluctuante.condiciones_ambientales %>
</p>
<p>
  <strong>Tipo  carga:</strong>
  <%= @factores_fluctuante.tipo_carga %>
</p>




<%= link_to 'Editar', edit_factores_fluctuante_path(@factores_fluctuante) %> |
<%= link_to 'Volver', factores_fluctuantes_path %>
