<%= form_with(model: costos_fijo, local: true) do |form| %>
  <% if costos_fijo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costos_fijo.errors.count, "error") %> prohibited this costos_fijo from being saved:</h2>

      <ul>
      <% costos_fijo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cantidad_movimiento_mensual %>
    <%= form.number_field :cantidad_movimiento_mensual %>
  </div>

  <div class="field">
    <%= form.label :frecuencia_movimiento %>
    <%= form.number_field :frecuencia_movimiento %>
  </div>

  <div class="field">
    <%= form.label :multiplividad_tiempo_movimiento %>
    <%= form.number_field :multiplividad_tiempo_movimiento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
