
<p>
  <strong>Peso carga:</strong>
  <%= @camion.peso_carga %>
</p>
<p>
  <strong>Volumen  carga:</strong>
  <%= @camion.volumen_cargar %>
</p>
<p>
  <strong>Equipo carga:</strong>
  <%= @camion.equipo_cargar %>
</p>
<p>
  <strong>Condicion vial:</strong>
  <%= @camion.condicion_vial %>
</p>
<p>l
  <strong>Condicion ambiental:</strong>
  <%= @camion.condicion_ambiental %>
</p>
<p>
  <strong>Condicion geografica :</strong>
  <%= @camion.condicion_geografica %>
</p>
<p>
  <strong>tipo carga:</strong>
  <%= @camion.tipo_carga %>
</p>
<p>
  <strong>Clase carga:</strong>
  <%= @camion.clase_carga %>
</p>
<p>l
  <strong>peso kilometro:</strong>
  <%= @camion.peso_kilome %>
</p>
<p>
  <strong>Peso tonelada :</strong>
  <%= @camion.peso_tonelada %>
</p>
<p>
  <strong>Peso carga:</strong>
  <%= @camion.peso_hora %>
</p>
<p>
  <strong>Gasto finananciero:</strong>
  <%= @camion.gasto_financ %>
</p>
<p>
  <strong>Cifra negocio:</strong>
  <%= @camion.cifra_negocio %>
</p>
<p>l
  <strong>contingencia venta:</strong>
  <%= @camion.contingencia_venta %>
</p>
<p>
  <strong>Promocion venta :</strong>
  <%= @camion.promocion_venta %>
</p>
<p>
  <strong>contingencia administrativa:</strong>
  <%= @camion.contingencia_operacional %>
</p>
<p>
  <strong>contingencia proudccion:</strong>
  <%= @camion.contingencia_produccion %>
</p>


<%= link_to 'Edit', edit_camion_path(@camion) %> |
<%= link_to 'Back', camions_path %>
