<p id="notice"><%= notice %></p>

<p>
  <strong>Valor dolar:</strong>
  <%= @tarifa_hora_logistica.valor_dolar %>
</p>

<p>
  <strong>Variacion inversion:</strong>
  <%= @tarifa_hora_logistica.variacion_inversion %>
</p>

<p>
  <strong>Variacion mano obra:</strong>
  <%= @tarifa_hora_logistica.variacion_mano_obra %>
</p>

<p>
  <strong>Variacion materia prima:</strong>
  <%= @tarifa_hora_logistica.variacion_materia_prima %>
</p>

<p>
  <strong>Varicion financiera:</strong>
  <%= @tarifa_hora_logistica.varicion_financiera %>
</p>

<p>
  <strong>Nivel utilidades:</strong>
  <%= @tarifa_hora_logistica.nivel_utilidades %>
</p>

<p>
  <strong>Impuestos derechos:</strong>
  <%= @tarifa_hora_logistica.impuestos_derechos %>
</p>

<%= link_to 'Edit', edit_tarifa_hora_logistica_path(@tarifa_hora_logistica) %> |
<%= link_to 'Back', tarifa_hora_logisticas_path %>
