<p id="notice"><%= notice %></p>

<h1>Costos Marginales</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Gasto finaciero</th>
      <th>Cifra negocio</th>
      <th>Promocion venta</th>
      <th>Contingencia administrativa</th>
      <th>Contingencia operacional</th>
      <th>Contingencia produccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costos_marginals.each do |costos_marginal| %>
      <tr>
        <td><%= costos_marginal.gasto_finaciero %></td>
        <td><%= costos_marginal.cifra_negocio %></td>
        <td><%= costos_marginal.promocion_venta %></td>
        <td><%= costos_marginal.contingencia_administrativa %></td>
        <td><%= costos_marginal.contingencia_operacional %></td>
        <td><%= costos_marginal.contingencia_produccion %></td>
        <td><%= link_to 'Ver', costos_marginal %></td>
        <td><%= link_to 'Editar', edit_costos_marginal_path(costos_marginal) %></td>
        <td><%= link_to 'Borrar', costos_marginal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Nuevo Costos Marginal', new_costos_marginal_path %>
