<p id="notice"><%= notice %></p>

<p>
  <strong>Localidad logistica:</strong>
  <%= @costos_variable.localidad_logistica %>
</p>

<p>
  <strong>Localidad consolidado:</strong>
  <%= @costos_variable.localidad_consolidado %>
</p>

<p>
  <strong>Localidad stacking:</strong>
  <%= @costos_variable.localidad_stacking %>
</p>

<p>
  <strong>Valor peajes:</strong>
  <%= @costos_variable.valor_peajes %>
</p>

<p>
  <strong>Vitaico kilometros:</strong>
  <%= @costos_variable.vitaico_kilometros %>
</p>

<p>
  <strong>Servicio kilometro:</strong>
  <%= @costos_variable.servicio_kilometro %>
</p>

<p>
  <strong>Sueldo conductor:</strong>
  <%= @costos_variable.sueldo_conductor %>
</p>

<p>
  <strong>Porcentaje conductor:</strong>
  <%= @costos_variable.porcentaje_conductor %>
</p>

<p>
  <strong>Horas logistica:</strong>
  <%= @costos_variable.horas_logistica %>
</p>

<%= link_to 'Edit', edit_costos_variable_path(@costos_variable) %> |
<%= link_to 'Back', costos_variables_path %>
